#app-content {
    padding-left: 5px;
    padding-right: 5px;
}

.todoactions {
    position: absolute;
    right: 20px;
}

.todoactions a {
    opacity: 0.3;
}

.todoactions a:hover {
    opacity: 0.5;
}

todo-edit-item input {
    width: 100%;
}

.todo_overdue {
    background-color: #fff5f5;
}

.todo_done {
    text-decoration: line-through;
    background-color: #f5fff5;
}

.sortby {
    opacity: 0.3;
}

.sortby:hover {
    opacity: 0.5;
}

.sortby-file {
    background-image: url("/apps/todo/img/file.png");
}

.sortby-alpha {
    background-image: url("/apps/todo/img/alpha.png");
}

.sortby-priority {
    background-image: url("/apps/todo/img/priority.png");
}

.sortby-context {
    background-image: url("/apps/todo/img/context.png");
}

.sortby-project {
    background-image: url("/apps/todo/img/project.png");
}

.sortby-duedate {
    background-image: url("/apps/todo/img/duedate.png");
}
